<p class="md-body-1">
  This template provides a starter project that implements best practices in coding,
  building and testing AngularJS applications using Material Design.
<p>

<h2 class="md-title">Features</h2>
<ul class="md-body-1">
  <li>Well-organized component hierarchy starting from <code>approot</code>.</li>
  <li>Components are implemented using directives (no dangling controllers).</li>
  <li>Follows AngularJS style guidelines (e.g. <code>controllerAs</code> syntax).</li>
  <li>
    Uses <a href="https://github.com/angular-ui/ui-router">AngularUI Router</a>
    for flexible routing and nested views.
  </li>
  <li>
    Uses <a href="https://material.angularjs.org">Angular Material</a> to implement an interface
    that conforms to Material Design.
  </li>
  <li>Provides logging and exception handling frameworks.</li>
  <li>Provides a Gulp based build system – code changes are reflected in the browser immediately.</li>
  <li>Uses Karma, Mocha and Chai for testing.</li>
</ul>
