/* -----------------------------------------------------------------------------
 * core - add any core styles here
 * -------------------------------------------------------------------------- */

// Note: Don't put component styles here. Put them in the appropriate component folder.

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  margin-top: 4px;
}
